@media screen and (min-width: 1376px) {
	.loading-container {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		height: 100px;
		font-size: larger;
		font-weight: bold;
		padding-top: 50px;
	}
}

@media screen and (max-width: 1375px) {
	.loading-container {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		height: 100px;
		font-size: larger;
		font-weight: bold;
		padding-top: 50px;
	}

	.loading-gif {
		width: 50%;
	}
}
