nav {
	color: black;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	padding-right: 10px;
}

.nav-home,
.nav-favorites {
	padding: 10px;
	cursor: pointer;
}

.veggie-lovers-logo {
	/* text-decoration: none; */
	font-family: 'Epilogue', sans-serif;
	cursor: pointer;
	padding-left: 10px;
	color: black;
}